<div class="panel panel-primary">
    <div class="panel-heading">
        <span>  
      <a class="btn btn-default" (click)="onBack()">
            <i class="glyphicon glyphicon-chevron-left"></i> Powrót
        </a>
        </span>
        <span class="h">
            {{ pageTitle }}
      </span>
    </div>
</div>

 <div class='panel-body' *ngIf='product'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-6'>Producent:</div>
                    <div class='col-md-6'>{{product.producer}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>Model:</div>
                    <div class='col-md-6'>{{product.model | uppercase}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>Kod produktu:</div>
                    <div class='col-md-6'>{{product.code | uppercase}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>Przekątna ekranu:</div>
                    <div class='col-md-6'>{{product.dimension}}"</div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>Rozdzielczość:</div>
                    <div class='col-md-6'>{{product.resolution}}px</div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>Pamięć masowa:</div>
                    <div class='col-md-6'>{{product.storage}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>Pamięć operacyjna:</div>
                    <div class='col-md-6'>{{product.memory}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>Procesor:</div>
                    <div class='col-md-6'>{{product.processor}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>Karta graficzna:</div>
                    <div class='col-md-6'>{{product.graphicsCard}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>System operacyjny:</div>
                    <div class='col-md-6'>{{product.os}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>Dostępność:</div>
                    <div class='col-md-6'>{{product.amount}} szt.</div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>Cena:</div>
                    <div class='col-md-6'>{{ product.price | productPrice:exchangeRate }} zł</div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>Opis:</div>
                    <div class='col-md-6'>{{product.description}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>Ocena:</div>
                    <div class='col-md-6'>
                        <stars [rating]="product.rating"></stars>
                    </div>
                </div>
            </div>

            <div class='col-md-4' *ngIf="product.imageUrl">
                <img class='center-block img-responsive' 
                     [style.width.px]='350' 
                     [style.margin.px]='2' 
                     [src]='product.imageUrl'
                     [title]="product.producer + ' ' + product.model">
            </div>
        </div>
    </div>