<div class="crop" 
    [style.width.px]="starsWidth"
    [title]="rating"
    (click)='onClick()'>
    <div style="width: 98px">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    </div>
</div>